<template name="postUpvote">
  <div class="post-rank"><span>{{oneBasedRank}}</span></div>
  {{#if upvoted}}
    <span class="upvote-link voted action">
      <span style="color: rgba(122,192,228,0.8);">You RSVPed to this hangout!</span>
      <i class="icon-check action-icon"></i>
      <span class="action-label">{{_ "upvoted"}}</span>
    </span>
  {{else}}
    <a class="upvote-link not-voted action" href="#">
      <span style="color: #DD3416;">RSVP to this hangout:</span>
      <i class="icon-up action-icon"></i>
      <span class="action-label">{{_ "upvote_"}}</span>
    </a>

  {{/if}}
</template>