<template name="postDownvote">
  <div class="post-rank"><span>{{oneBasedRank}}</span></div>
  {{#if downvoted}}
    <span class="downvote-link voted action">
      <span style="color: rgba(122,192,228,0.8);">You left this group!</span>
      <i class="icon-check action-icon"></i>
      <span class="action-label">{{_ "You left this group"}}</span>
    </span>
      <a class="upvote-link not-voted action" href="#">
      <span style="color: #DD3416;">Join this group:</span>
      <i class="icon-up action-icon"></i>
      <span class="action-label">{{_ "upvote_"}}</span>
    </a>
  {{/if}}
</template>